@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}
