<template>
  <div class="zodiac-item">
    <div class="btn-back">
      <el-button icon="el-icon-arrow-left" @click="back">Back</el-button>
    </div>
    <div class="btn-close">
      <el-button icon="el-icon-close"></el-button>
    </div>
    <div class="zodiac-type">
      <img src="../../assets/images/fire-rat.svg" alt="" />
      <div class="zodiac-info">
        <div class="title">{{ firstName }} {{ lastName }}</div>
        <div class="time">15 Feb 1972 - 2 Feb 1973</div>
      </div>
    </div>
    <div class="text">
      Tap below to view the zodiac predictions for 2021
    </div>
    <div class="card-zodiac">
      <div class="card-item">
        <img src="../../assets/images/health.svg" alt="health" class="icon" />
        <div class="item-info">
          <div class="title">Health</div>
          <img src="../../assets/images/start.svg" alt="" class="rate" />
        </div>
      </div>
      <div class="card-item">
        <img src="../../assets/images/love.svg" alt="health" class="icon" />
        <div class="item-info">
          <div class="title">Love</div>
          <img src="../../assets/images/start.svg" alt="" class="rate" />
        </div>
      </div>
      <div class="card-item">
        <img src="../../assets/images/career.svg" alt="health" class="icon" />
        <div class="item-info">
          <div class="title">Career</div>
          <img src="../../assets/images/start.svg" alt="" class="rate" />
        </div>
      </div>
      <div class="card-item">
        <img src="../../assets/images/wealth.svg" alt="health" class="icon" />
        <div class="item-info">
          <div class="title">Wealth</div>
          <img src="../../assets/images/start.svg" alt="" class="rate" />
        </div>
      </div>
    </div>
    <div class="card-zodiac-large">
      <div class="card-item-large">
        <img src="../../assets/images/angbao.svg" alt="health" class="icon" />
        <div class="item-info">
          <div class="title">Worth $888</div>
          <span>Only 10 Angbaos Remaining!</span>
        </div>
        <div class="notes">Redeem</div>
      </div>
      <div class="card-item-large">
        <img src="../../assets/images/escaped.svg" alt="health" class="icon" />
        <div class="item-info">
          <span>Escaping in </span>
          <div class="title">10h 9m</div>
        </div>
        <div class="notes">Extend Time</div>
      </div>
    </div>
  </div>
</template>
<script src="./zodiac-item.ts"></script>
<style lang="scss" scoped>
.zodiac-item {
  position: relative;
  background: linear-gradient(180deg, #faa166 0%, #ff535b 100%);
  min-height: 100vh;
  width: 100%;
  .btn-back {
    position: absolute;
    left: 0;
    .el-button {
      background: inherit;
      border: none;
      padding: 10px;
      color: #fff;
      font-size: 24px;
      display: flex;
      align-items: center;
      .el-icon-arrow-left {
        font-weight: bold;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25),
          inset -1px -1px 0px rgba(195, 195, 195, 0.25);
      }
    }
  }
  .btn-close {
    position: absolute;
    right: 0;
    .el-button {
      background: inherit;
      border: none;
      padding: 10px;
      color: #fff;
      font-size: 24px;
      .el-icon-close {
        font-weight: bold;
      }
    }
  }
  .zodiac-type {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ebf1fc;
    border: 2px solid #ffffff;
    border-radius: 8px;
    top: 50px;
    left: 50%;
    width: 280px;
    height: 72px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    .zodiac-info {
      .title {
        font-size: 22px;
        font-weight: bold;
        color: #262626;
      }
      .time {
        font-weight: 600;
        font-size: 12px;
        color: #767676;
      }
    }
  }
  .text {
    position: absolute;
    top: 132px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
  }
  .card-zodiac {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    top: 160px;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    column-gap: 10px;
    row-gap: 10px;
    overflow: hidden;
    .card-item {
      height: 50px;
      background: #ffffff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      .icon {
        margin: 0 12px 0 5px;
      }
      .item-info {
        .title {
          font-weight: bold;
          font-size: 14px;
          color: #000000;
        }
      }
    }
  }
  .card-zodiac-large {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    top: 285px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    overflow: hidden;
    .card-item-large {
      height: 50px;
      background: #ffffff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      .item-info {
        .title {
          font-size: 14px;
          color: #000000;
          font-weight: bold;
        }
        span {
          font-size: 12px;
          color: #767676;
        }
      }
      .notes {
        position: absolute;
        right: 25px;
        font-size: 14px;
        font-weight: bold;
        color: #fe6c5f;
      }
    }
  }
}
</style>
<style lang="scss">
span {
  font-size: 12px;
}
</style>
