<template>
  <div class="login">
    <el-form>
      <h2 class="text-center text-uppercase pb-3 text-white">
        Login
      </h2>
      <el-form
        :model="loginModel"
        ref="loginModel"
        label-width="100px"
        label-position="top"
        class="login-form"
      >
        <el-form-item prop="mobileNumber" label="Mobile Number">
          <el-input
            placeholder="mobileNumber..."
            v-model="loginModel.mobileNumber"
          ></el-input>
        </el-form-item>
        <el-form-item prop="Password" label="Password">
          <el-input
            placeholder="Password..."
            v-model="loginModel.Password"
            @keydown.enter.native="submitLogin"
            show-password
          ></el-input>
        </el-form-item>
        <el-form-item class="pt-3">
          <el-button @click="submitLogin" class="login-button" type="primary">
            Login
          </el-button>
        </el-form-item>
      </el-form>
    </el-form>
  </div>
</template>

<script src="./login.ts"></script>

<style lang="scss" scoped>
.login {
  background: linear-gradient(180deg, #6ec9ff 16.53%, #0082d2 56.21%);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-button {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
}
.login-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
</style>
<style lang="scss">
.dialog .el-dialog__title {
  color: #17a2b8;
}
.login .el-input__inner {
  height: 45px !important;
  margin-bottom: 5px;
}
.login .el-form-item {
  margin-bottom: 10px !important;
}
.login label {
  margin-bottom: 0 !important;
}
.login .el-form-item__label {
  padding: 0 !important;
  color: #ffffff;
}
</style>
