<template>
  <div class="list-inventory">
    <div class="btn-close">
      <el-button icon="el-icon-close"></el-button>
    </div>
    <div class="inventory-cross">
      <img src="../../assets/images/cross.svg" alt="cross" />
    </div>
    <div class="card-title">
      <h3 class="title">Zodiac Inventory</h3>
      <div class="icon-info">
        <font-awesome-icon icon="info" />
      </div>
    </div>
    <div class="sort">
      <div class="sort-by">
        <span>Sort by: </span>
        <el-select
          v-model="role"
          placeholder="Select to sort..."
          class="option"
        >
          <el-option
            v-for="item in options"
            :key="item.role"
            :label="item.label"
            :value="item.role"
          >
          </el-option>
        </el-select>
      </div>
      <div class="counting">8/60</div>
    </div>
    <div class="zodiacs">
      <div class="zodiac-item" v-for="item in listInventory" :key="item._id">
        <img
          :src="
            item.angbao_redeemed === true
              ? require(`../../assets/images/redeemed.svg`)
              : item.escape_at
              ? require(`../../assets/images/disable-angbao.svg`)
              : item.escape_at && item.angbao_redeemed === false
              ? require(`../../assets/images/have-angbao.svg`)
              : ''
          "
          alt=""
          class="cupon"
        />
        <router-link :to="`/zodiac-inventory/${item._id}`">
          <img :src="require(`../../assets/images/earth-mouse.svg`)" />
        </router-link>
      </div>
    </div>
    <!-- <div class="ads"></div> -->
  </div>
</template>
<script src="./zodiac-inventory.ts"></script>
<style lang="scss" scoped>
.list-inventory {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
  background: linear-gradient(180deg, #6ec9ff 16.53%, #0082d2 56.21%);
  .btn-close {
    position: absolute;
    right: 0;
    .el-button {
      background: inherit;
      border: none;
      padding: 10px;
      color: #fff;
      font-size: 24px;
      .el-icon-close {
        font-weight: bold;
      }
    }
  }
  .inventory-cross {
    position: absolute;
    padding-top: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .card-title {
    position: absolute;
    background: #ebf1fc;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 8px;
    width: 280px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: #000000;
    .title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 0;
      margin-right: 10px;
    }
    .icon-info {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border: 1px solid #c1cee6;
      box-sizing: border-box;
      border-radius: 50%;
      box-shadow: 0px 4px 8px rgba(135, 135, 135, 0.25);
      svg {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 36%;
        right: 21.5%;
      }
    }
  }
  .sort {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 90px;
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    padding: 0 20px;
    .counting {
      text-align: right;
    }
  }
  .zodiacs {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    top: 125px;
    display: grid;
    grid-template-columns: repeat(4, 22.5%);
    column-gap: 10px;
    row-gap: 15px;
    padding-bottom: 25px;
    .zodiac-item {
      position: relative;
      z-index: 1;
      .cupon {
        position: absolute;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        top: -8px;
        right: -5px;
        z-index: 2;
        width: 20px;
        height: 20px;
      }
      height: 70px;
      background-color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
      img {
        display: block;
        margin: auto;
      }
    }
  }
  .ads {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #979797;
    bottom: 0;
  }
}
</style>
<style lang="scss">
.option {
  background: none;
  .el-input__inner {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    width: 100px;
  }
}
.el-select .el-input .el-select__caret {
  color: #ffffff !important;
}
</style>
